#welcome-header {
    display: flex;
    justify-content: center;    
    font-family: Fredoka;
    font-size: 4rem;
    color: white;
    text-shadow:
    -2px -2px 0 black,
     2px -2px 0 black,
    -2px  2px 0 black,
     2px  2px 0 black;
    text-align: center;
    height: 10px;
}

/* Flex cointainer, that moves fish + kort */
main {
    padding: 0px 30px 0px 30px;
    padding-top: 70px;
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    align-items: flex-start;
}


/* Here you chancge how fishes are displayed */
.fish-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* There has to be a height in order for justify content to work */
    height: 410px;
    padding: 50px 0px 0px 30px;
}

/* Map was a vector, so it has to have a background */
#the-card-1 {
    background-color: rgba(144,238,144,0.85);
    border-radius: 20px;
}

/* (STARTS HERE) Styling for fish inside a container, inside a div, inside another div*/
.fish-box-1 {
    width: auto;
    border: solid;
    border-radius: 30px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    cursor: pointer;
    background-color: rgba(144,238,144,0.85);
    font-family: Fredoka;
}

/* The text here is not a text item no more, but a flex item */
.fish-box-1 p {
    display: flex;
    align-items: center;
    padding-right: 30px;
}

#fish-1-vector {
    height: 80px;
    width: auto;
}
/* ENDS HERE (for .fish-box-1) */

.fish-box-2 {
    width: auto;
    border: solid;
    border-radius: 30px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    cursor: pointer;
    background-color: rgba(144,238,144,0.85);
    font-family: Fredoka;
}
.fish-box-2 p {
    display: flex;
    align-items: center;
    padding-right: 30px;
}

#fish-2-vector {
    height: 80px;
    width: auto;
}

.fish-box-3 {
    width: auto;
    border: solid;
    border-radius: 30px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    cursor: pointer;
    background-color: rgba(144,238,144,0.85);
    font-family: Fredoka;
}
.fish-box-3 p {
    display: flex;
    align-items: center;
    padding-right: 30px;
}

#fish-3-vector {
    height: 80px;
    width: auto;
    scale: 80%;
}


.fish-box-4 {
    width: auto;
    border: solid;
    border-radius: 30px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    cursor: pointer;
    background-color: rgba(144,238,144,0.85);
    font-family: Fredoka;
}
.fish-box-4 p {
    display: flex;
    align-items: center;
    padding-right: 30px;
}

#fish-4-vector {
    height: 80px;
    width: auto;
}

.fish-box-1:hover {
    border: solid tomato;
}
.fish-box-2:hover {
    border: solid tomato;
}
.fish-box-3:hover {
    border: solid tomato;
}
.fish-box-4:hover {
    border: solid tomato;
}


/* OVERLAY FISH HOVER */
.the-card-box {
    position: relative;
    scale: 100%;
}

.map-area {
    position: absolute;
    border: dashed 3px;
    border-color: tomato;
    border-radius: 90px;
    display: none;
}

#area-1 {
    top: 48%;
    left: 58%;
    width: 120px;
    height: 80px;
    rotate: 10deg;
}

#area-2 {
    top: 38%;
    left: 76%;
    width: 120px;
    height: 80px;
    rotate: 98deg;
}

#area-3 {
    top: 5%;
    left: 40%;
    width: 90px;
    height: 80px;
    rotate: 116deg;
}

#area-4 {
    top: 49%;
    left: 11%;
    width: 110px;
    height: 110px;
    rotate: 280deg;
}

#go-back {
    background-color: rgba(144,238,144,1);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    padding: 0;
    margin-left: 10px;
}